#
#  __  __            _         _         _                  _
# |  \/  | __ _ _ __| | ____ _| |_ __ _ | |_ ___  _ __ ___ | |
# | |\/| |/ _` | '__| |/ / _` | __/ _` || __/ _ \| '_ ` _ \| |
# | |  | | (_| | |  |   < (_| | || (_| || || (_) | | | | | | |
# |_|  |_|\__,_|_|  |_|\_\__,_|\__\__,_(_)__\___/|_| |_| |_|_|
#
#                                                  markata.dev

[markata]
# bump site version to bust GitHub actions cache
site_version = 13

# 2 weeks in seconds
default_cache_expire = 1209600

## Markata Setup
glob_patterns = "docs/**/*.md,CHANGELOG.md"
## glob_patterns = "pages/**/*spaceflights*.md"
output_dir = "markout"
assets_dir = "static"
hooks = [
   "markata.plugins.publish_source",
   "markata.plugins.docs",
   "markata.plugins.prevnext",
   "default",
   ]
disabled_hooks = [
# "markata.plugins.covers",
# 'markata.plugins.flat_slug',
# 'markata.plugins.seo',
# 'markata.plugins.icon_resize',
'markata.plugins.manifest',
'markata.plugins.rss'
]

## Site Config
url = "https://markata.dev"
title = "Markata's Docs"
description = "Documentation for using the Markata static site generator"
rss_description = "Markata docs"
author_name = "Waylon Walker"
author_email = "waylon@waylonwalaker.com"
icon = "favicon.ico"
lang = "en"
# post_template = "pages/templates/post_template.html"
# amp_template = "pages/templates/post_template.amp.html"
repo_url = "https://github.com/waylonwalker/markata"
repo_branch = "main"
theme_color = "#322D39"
background_color = "#B73CF6"
start_url = "/"
site_name = "Markata"
short_name = "ww"
display = "minimal-ui"
twitter_card = "summary_large_image"
twitter_creator = "@_waylonwalker"
twitter_site = "@_waylonwalker"

[markata.feeds.autodoc]
title="All Markata Modules"
filter="True"
card_template="<li class='post'><a href='/{{ slug }}/'>{{ slug }}</a></li>"

[markata.feeds.core_modules]
title="Markata Core Modules"
filter="'plugin' not in slug"
card_template="<li class='post'><a href='/{{ slug }}/'>{{ slug }}</a></li>"

[markata.feeds.plugins]
title="Markata Plugins"
filter="'plugin' in slug"
card_template="<li class='post'><a href='/{{ slug }}/'>{{ slug }}</a></li>"

[markata.jinja_md]
ignore=[
'jinja_md.md',
]

[[markata.prevnext.maps]]
filter='"markata" not in slug and "tests" not in slug'
sort='slug'

[[markata.prevnext.maps]]
filter='"markata" in slug and "tests" not in slug'
sort='slug'




