#
#  __  __            _         _         _                  _
# |  \/  | __ _ _ __| | ____ _| |_ __ _ | |_ ___  _ __ ___ | |
# | |\/| |/ _` | '__| |/ / _` | __/ _` || __/ _ \| '_ ` _ \| |
# | |  | | (_| | |  |   < (_| | || (_| || || (_) | | | | | | |
# |_|  |_|\__,_|_|  |_|\_\__,_|\__\__,_(_)__\___/|_| |_| |_|_|
#
#                                                  markata.dev

[markata.fast]
default_cache_expire = 1209600
[markata.nav]
'markata'='/'
'GitHub'='https://github.com/WaylonWalker/markata'

[markata]
# bump site version to bust GitHub actions cache
site_version = 13

# 2 weeks in seconds
default_cache_expire = 1209600

## Markata Setup
glob_patterns = "docs/**/*.md,CHANGELOG.md"
## glob_patterns = "pages/**/*spaceflights*.md"
output_dir = "markout"
assets_dir = "static"
hooks = [
   "markata.plugins.publish_source",
   "markata.plugins.docs",
   "markata.plugins.prevnext",
   "markata.plugins.service_worker",
   "default",
   ]
disabled_hooks = [
# "markata.plugins.covers",
# 'markata.plugins.flat_slug',
# 'markata.plugins.seo',
# 'markata.plugins.icon_resize',
'markata.plugins.manifest',
'markata.plugins.rss'
]

## Site Config
url = "https://markata.dev"
title = "Markata's Docs"
description = "Documentation for using the Markata static site generator"
rss_description = "Markata docs"
author_name = "Waylon Walker"
author_email = "waylon@waylonwalaker.com"
icon = "favicon.ico"
lang = "en"
# post_template = "pages/templates/post_template.html"
# amp_template = "pages/templates/post_template.amp.html"
repo_url = "https://github.com/waylonwalker/markata"
repo_branch = "main"
theme_color = "#322D39"
background_color = "#B73CF6"
start_url = "/"
site_name = "Markata"
short_name = "ww"
display = "minimal-ui"
twitter_card = "summary_large_image"
twitter_creator = "@_waylonwalker"
twitter_site = "@_waylonwalker"

[markata.feeds_config]

[markata.feeds.project-gallery]
title="Project Gallery"
filter="'project-gallery' in path"
sort='title'
card_template="""
<li class='post' style='background:rgba(255, 255, 255, .05); border:1px solid rgba(255, 255, 255, .2); padding:1rem; margin: 2rem auto;' >
<a href='/{{ slug }}/'><h2>{{ title }}</h2></a>
<ul style='display: flex; list-style-type: None;'>
<li><a href='{{ codeUrl }}'>Source Code</a></li>
<li><a href='{{ url }}'>Public Site</a></li>

</ul>
{{ article_html }}
</li>
"""

[markata.feeds.docs]
filter='"markata" not in slug and "tests" not in slug and "404" not in slug'
sort='slug'
card_template="<li class='post'><a href='/{{ slug }}/'>{{ title }}<p style='color: white; text-decoration: none;'>{{ description }}</p></a> </li>"

[markata.feeds.autodoc]
title="All Markata Modules"
filter="True"
card_template="<li class='post'><a href='/{{ slug }}/'>{{ title }}</a></li>"

[markata.feeds.core_modules]
title="Markata Core Modules"
filter="'plugin' not in slug"
card_template="<li class='post'><a href='/{{ slug }}/'>{{ title }}</a></li>"

[markata.feeds.plugins]
title="Markata Plugins"
filter="'plugin' in slug"
card_template="<li class='post'><a href='/{{ slug }}/'>{{ title }}</a></li>"

[markata.jinja_md]
ignore=[
'jinja_md.md',
'post_template.md',
'publish_html.md',
]

[[markata.head.meta]]
name = "og:author_email"
content = "waylon@waylonwalker.com"

[markata.tui]
new_cmd=['tmux', 'popup', 'markata', 'new', 'post']

[[markata.tui.keymap]]
name='new'
key='n'

[markata.summary]
grid_attr = ['tags', 'series']

[markata.summary.filter_count.drafts]
filter="published == 'False'"
color='red'

[markata.summary.filter_count.articles]
color='dark_orange'

[markata.summary.filter_count.py_modules]
filter='"plugin" not in slug and "docs" not in path'
color="yellow1"

[markata.summary.filter_count.published]
filter="published == 'True'"
color='green1'

[markata.summary.filter_count.plugins]
filter='"plugin" in slug and "docs" not in path'
color="blue"

[markata.summary.filter_count.docs]
filter="'docs' in path"
color='purple'
