anyconfig
beautifulsoup4
checksumdir
diskcache
feedgen
jinja2
more-itertools
pathspec
pillow
pluggy
pymdown-extensions
python-frontmatter
python-slugify
pytz
rich
textual
toml
typer
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
