<script>
  document.addEventListener("DOMContentLoaded", () => {
    const collapsibleElements = document.querySelectorAll('.is-collapsible');
    collapsibleElements.forEach(el => {
      const summary = el.querySelector('.admonition-title');
      if (summary) {
        summary.style.cursor = 'pointer';
        summary.addEventListener('click', () => {
          el.classList.toggle('collapsible-open');
          el.classList.toggle('collapsible-closed');
        });
      }
    });
  });
</script>

<style type="text/tailwindcss">
  .is-collapsible {
    @apply overflow-hidden transition-[max-height] duration-300 ease-in-out;
  }

  .is-collapsible:not(.collapsible-open) {
    @apply max-h-0 pb-10;
  }

  .admonition {
    @apply my-20 border border-transparent rounded shadow-md text-left;
    @apply bg-[{{ markata.config.style.light.surface }}] dark:bg-[{{ markata.config.style.dark.surface }}];
    @apply pb-4;
  }

  .admonition-title {
    @apply sticky top-0 z-10 font-bold mb-2 px-4 py-2 bg-[{{ markata.config.style.light.blockquote_bg }}] dark:bg-[{{ markata.config.style.dark.blockquote_bg }}];
    @apply border-b border-[{{ markata.config.style.light.border }}] dark:border-[{{ markata.config.style.dark.border }}];
  }

  .admonition p {
    @apply px-4 py-1;
  }

  .admonition.source {
    @apply pb-0;
  }

  .admonition.source pre.wrapper {
    @apply m-0 p-0;
  }

  /* Admonition types */
  .note {
    @apply border-yellow-300/50 dark:border-yellow-400/50 bg-yellow-50 dark:bg-yellow-900/5;
    @apply text-yellow-950 dark:text-yellow-50;
  }

  .note .admonition-title {
      @apply text-yellow-800 dark:text-yellow-200;
  }

  .abstract {
    @apply border-cyan-300/50 dark:border-cyan-400/50 bg-cyan-50 dark:bg-cyan-900/50;
  }

  .info {
    @apply border-blue-300/50 dark:border-blue-400/50 bg-blue-50 dark:bg-blue-900/50;
  }

  .tip {
    @apply border-teal-600 bg-teal-50 dark:border-teal-400/50 dark:bg-teal-900/50;
  }

  .success {
    @apply border-green-400/50 bg-green-50 dark:border-green-500 dark:bg-green-900/50;
  }

  .question {
    @apply border-emerald-300/50 bg-emerald-50 dark:border-emerald-400/50 dark:bg-emerald-900/50;
  }

  .warning {
    @apply border-orange-400/50 bg-orange-50 dark:border-orange-500 dark:bg-orange-900/50;
  }

  .failure {
    @apply border-red-600 bg-red-50 dark:border-red-700 dark:bg-red-900/50;
  }

  .danger {
    @apply border-red-500 bg-red-50 dark:border-red-600 dark:bg-red-900/50;
  }

  .danger .admonition-title {
    @apply text-red-800 dark:text-red-200;
    @apply bg-red-50 dark:bg-red-900/50;
  }

  .bug {
    @apply border-pink-500 bg-pink-50 dark:border-pink-600 dark:bg-pink-900/50;
  }

  .example {
    @apply border-violet-400/50 bg-violet-50 dark:border-violet-500 dark:bg-violet-900/50;
  }

  .source {
    @apply border-purple-300/50 bg-purple-50 dark:border-purple-400/50 dark:bg-purple-900/50;
  }

  .quote {
    @apply border-gray-400/50 bg-gray-50 dark:border-gray-500 dark:bg-gray-900/50;
  }

  .small {
      @apply text-sm text-[{{ markata.config.style.light.muted }}];
      @apply dark:text-[{{ markata.config.style.dark.muted }}];
  }

  summary:hover {
    @apply cursor-pointer;
  }

  summary.admonition-title,
  summary.details-title {
    @apply px-4 py-2;
  }

  details[open] {
    @apply pb-2;
  }

  admonition + admonition {
    @apply mt-80;
  }
</style>

