{% if post.title or markata.config.title %}
<title>{{ post.title or markata.config.title }}</title>
{% endif %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
{% if post.description or markata.config.description %}
<meta name="description" content="{{ post.description or markata.config.description }}" />
{% endif %} {% if markata.config.icon.name %}
<link href="/{{ markata.config.icon.name }}" rel="icon" type="image/png" />
{% endif %}

{% include "tailwind.html" %}
{% include "htmx.html" %}
{% include "mermaid.html" %}
{% include "chartjs.html" %}
{% include "admonition.html" %}
{% include "chat.html" %}
<style>
<!-- {{ markata.config.style.light.code_theme }} -->
{{ markata.config.style.dark.highlight_styles | indent(2) }}

<!-- {{ markata.config.style.dark.code_theme }} -->
@custom-variant dark (&:where(.dark, .dark *));
:where(.dark, .dark *) {
{{ markata.config.style.light.highlight_styles | indent(2) }}
</style>
