    <script type="module">
        import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@11.4.1/dist/mermaid.esm.min.mjs';
        mermaid.initialize({
            startOnLoad: true,
            theme: 'dark',
            look: 'handDrawn',
        });
        mermaid.registerIconPacks([
            {
                name: 'logos',
                loader: () =>
                fetch('https://unpkg.com/@iconify-json/logos@1/icons.json').then((res) => res.json()),
            },
        ]);

    </script>
