{% extends "base.html" %}
{% block content %}
<article style="text-align: center;">
    <style>
        body {
            font-size: 600%;
            background: black;
            color: #FFCC00;
            min-height: 100vh;
            min-width: 100vw;
            margin: 0;
            border: 6px solid #FFCC00;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .edit {
            display: none;
        }
    </style>
    {% include "title.html" %}
</article>
{% endblock %}
