{% extends "base.html" %}
{% block content %}
<article style="text-align: center;">
    <style>
        html {
        }
        body {
            min-height: 100vh;
            height: 100vh;
            min-width: 100vw;
            width: 100vw;
            margin: 0;
            border: 12px solid {{ markata.config.style.dark.accent }};
            border-radius: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .edit {
            display: none;
        }
    </style>
    {% include "title.html" %}
</article>
{% endblock %}
