<li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'>
        <!-- href: RSS <link> text OR Atom <atom:link>@href -->
        <xsl:attribute name="href">
            <xsl:choose>
                <!-- RSS link -->
                <xsl:when test="link">
                    <xsl:value-of select="link" />
                </xsl:when>
                <!-- Atom: prefer rel='alternate' -->
                <xsl:when test="atom:link[@rel='alternate']">
                    <xsl:value-of select="atom:link[@rel='alternate'][1]/@href" />
                </xsl:when>
                <!-- Atom: fallback to first link -->
                <xsl:when test="atom:link">
                    <xsl:value-of select="atom:link[1]/@href" />
                </xsl:when>
            </xsl:choose>
        </xsl:attribute>

        <h2 class='mx-4 mt-1 text-3xl font-bold'>
            <!-- RSS <title> OR Atom <atom:title> -->
            <xsl:value-of select="title | atom:title" />
        </h2>

        <p class='mx-4 text-neutral-200'>
            <!-- RSS <description> OR Atom <atom:summary> OR Atom <atom:content> -->
            <xsl:choose>
                <xsl:when test="description">
                    <xsl:value-of select="description" />
                </xsl:when>
                <xsl:when test="atom:summary">
                    <xsl:value-of select="atom:summary" />
                </xsl:when>
                <xsl:when test="atom:content">
                    <xsl:value-of select="atom:content" />
                </xsl:when>
            </xsl:choose>
        </p>

        <time class='mx-4 text-neutral-600'>
            <!-- RSS pubDate OR Atom published/updated -->
            <xsl:value-of select="pubDate | atom:published | atom:updated" />
        </time>
    </a>
</li>

