<article class='w-full'>
<section class="title">
    <h1 id="title">
        Markata's Docs
    </h1>
</section>    <section class="body">
        <p><a href="https://markata.dev" class="shadow-2xl"><img src="/markata.dev_.webp" alt="Markta.dev home page" /></a></p>
<p>Markata builds it's own docs in completely in <code>markata</code> using all built in
templatates and plugins.</p>
<p><a href="https://https://markata.dev/markata/plugins/base-cli/" class="shadow-2xl"><img src="/markata.dev_markata_plugins_base-cli_.webp" alt="Markta.dev home page" /></a></p>
<p>Using the <code>markata.plugins.docs</code> plugin it is able to load all the python
files.  It renders out all the docstrings as markdown and shows the code in
highlighted code blocks.</p>

    </section>
</article>