<article class='w-full'>
<section class="title">
    <h1 id="title">
        WaylonWalker.com
    </h1>
</section>    <section class="body">
        <p><a href="https://waylonwalker.com"><img src="/waylonwalker.com.webp" alt="Waylonwalker.com home page" /></a></p>
<p>This Waylon Walker's personal blog where he is learning in public.  Posting
about topics such as linux, vim, python, and kedro.  Flexing just a bit, after
writing content on the domain since 2017 it is achieving  15K clicks from
google every 28 days, 36 top 3 ranked keywords, and 2,400 top 10 ranked keywords.</p>
<p><a href="https://waylonwalker.com/markata-configure-head/"><img src="/waylonwalker.com_markata-configure-head.webp" alt="Waylonwalker.com post" /></a></p>
<p>A typical post has a header that is screenshot as the og image for display on
social platforms using selenium.  The overall theme holds similar to the home
and feeds pages.  With a large dark background image of repeating W's.</p>
<p><a href="https://waylonwalker.com/archive/"><img src="/waylonwalker.com_archive.webp" alt="Waylonwalker.com feed" /></a></p>
<p><a href="http://Waylonwalker.com">Waylonwalker.com</a> has several feeds running, but the most prominant one that is
shared in the navigation bar is the
<a href="https://waylonwalker.com/archive">archive</a>.  The feed itself has an RGB
backlight inspired yellow and purple glow around it.</p>

    </section>
</article>