name: Release Markata

on:
  workflow_dispatch:
  push:
    paths:
      - "markata/**"
      - "pyproject.toml"

env:
  HATCH_INDEX_USER: __token__
  HATCH_INDEX_AUTH: ${{ secrets.pypi_password }}

jobs:
  release-markata:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: waylonwalker/hatch-action@v3
        with:
          before-command: "test-lint"
